<h1> Welcome Dock Renters! </h1>


<div> This page is for those who are interested in renting a dock!
</div>
<br>
<div>We rent docks from dock owners for a variety of reasons including boat storage, fishing, family hangouts, parties, and water spots access.
</div>
<br>
<div>Our available docks are posted by our dock owners (Lessors) and are listed on the home page.  If interested in a dock please click the associated "show details" button on the home page to see pricing, location, and contact information.
</div>
<br>
<div>You will need to have a user account to view the dock details.  Let's get you access...</div>

<ul>
      <li>
        <a href="/renter_sign_up">Create an dock renter account</a>
      </li>
      <li>
        <a href="/renter_sign_in">Sign in as an existing dock renter</a>
      </li>
   
    </ul>
