<h1>Welcome Dock Owners!   </h1>

<div>
This page is for those interested in renting out their docks to users and in return you can earn some extra income.
</div>
<br>
<div>
All you have to do is create a dock owners account (Lessor), and then enter some details about your dock.  Once the details are entered your dock will be listed on our site, and other dock renters that are users of this site can contact you about renting your dock space!
</div>
<br>
<div>
Lets get you signed up and ready to rent your dock!
</div>
<ul>
      <li>
        <a href="/owner_sign_up">Create an dock owner account</a>
      </li>
      <li>
        <a href="/owner_sign_in">Sign in as an existing dock owner</a>
      </li>
   
 </ul>
